.header {
	display: flex;
	position: relative;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	padding: 20px 20px 50px;
	color: var.$white;
	font-family: var.$font_headings;

	.logo {
		display: block;
		width: 250px;
		margin-right: auto;

		img, svg {
			max-width: 100%;
		}

		&:hover {
			filter: none;
		}
	}

	.background {
		color: var.$blue;

		svg {
			position: absolute;
			z-index: -1;
			bottom: -20px;
			left: 50%;
			width: auto;
			max-width: unset;
			height: 300px;
			transform:translateX(-50%);

			&.home {
				display: none;
			}
		}
	}

	nav {
		position: relative;
		z-index: 50;
		font-size: 2em;
		font-weight: 600;
		text-align: center;

		&.open {
			ul {
				display: block;
			}
		}

		ul {
			display: none;
			position: absolute;
			top: 100%;
			right: 0;
			width: 90vw;
			max-width: 400px;
			background: var.$white;
			color: var.$blue;
		}

		a {
			padding: 30px 20px;
		}

		li {
			&.cta {
				background: var.$yellow;
				color: var.$blue;
				text-transform: uppercase;
			}

			&.current_page_item {
				background: var.$navy;
				color: var.$white;
			}
		}
	}
}

.hamburger {
	margin: 0;
	border: 2px solid transparent;
	background: none;
	color: inherit;

	svg {
		width: auto;
		height: 60px;
	}

	&:hover {
		background: none;
		color: var.$white;
	}
}

@media(min-width: 50em) {
	.header {
		margin-bottom: 50px;
		padding: 50px 20px;

		.logo {
			flex-shrink: 1;
		}

		.background {
			svg {
				bottom: -50px;
				height: 400px;
			}
		}

		nav {
			flex-shrink: 0;
			font-size: 1.2em;
			font-weight: 500;

			&.open {
				ul {
					display: flex;
				}
			}

			ul {
				display: flex;
				position: static;
				align-items: center;
				width: auto;
				max-width: unset;
				background: transparent;
				color: var.$white;
			}

			a {
				padding: 10px;
			}

			li {
				margin-left: 10px;
				border-bottom: 2px solid transparent;

				&.current_page_item {
					border-color: var.$white;
					background: transparent;
					color: var.$white;
				}

				&.cta {
					border-color: transparent;
					background: none;
					color: var.$blue;
					line-height: 1;

					&.current_page_item {
						border-color: transparent;
					}

					a {
						padding: 15px 20px;
						border-radius: 2em;
						background: var.$yellow;

						&:hover {
							background-color: var.$blue;
							color: var.$yellow;
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	.hamburger {
		display: none;
	}
}

@media(min-width: 60em) {
	.header {
		width: 90vw;
		max-width: 1200px;
		margin: 0 auto 50px;
		padding: 50px 0;

		.background {
			svg {
				bottom: -50px;
				height: 500px;
			}
		}
	}
}
