.header {
	.background {
		svg {
			bottom: -450px;
			height: 1200px;

			&:not(.home) {
				display: none;
			}

			&.home {
				display: block;
			}
		}
	}
}

.standard {
	&:first-child {
		margin-top: -50px;
		color: var.$white;

		h2 {
			color: var.$yellow;
		}

		.cta {
			border-color: var.$yellow;
			background: var.$yellow;
			color: var.$navy;

			&:hover {
				background: var.$blue;
				color: var.$yellow;
			}
		}
	}
}

@media(min-width: 30em) {
	.header {
		.background {
			svg {
				bottom: -400px;
			}
		}
	}
}

@media(min-width: 40em) {
	.header {
		.background {
			svg {
				bottom: -420px;
				height: 800px;
				margin-left: -130px;
			}
		}
	}

	.standard {
		&:first-child {
			justify-content: center;
			margin-top: -20px;
			margin-bottom: 80px;

			.content {
				flex-grow: 0;
				width: 300px;
			}

			img {
				flex-grow: 1;
				width: 35vw;
				height: 35vw;
			}
		}
	}
}

@media(min-width: 50em) {
	.header {
		.background {
			svg {
				bottom: -600px;
				height: 1200px;
				margin-left: -60px;
			}
		}
	}

	.standard {
		&:first-child {
			justify-content: center;
			margin-top: -20px;
			margin-bottom: 200px;

			.content {
				flex-grow: 1;
				width: 300px;
				max-width: 350px;
			}

			img {
				flex-grow: 0;
				width: 400px;
				height: 400px;
			}
		}
	}
}

@media(min-width: 60em) {
	.header {
		.background {
			svg {
				bottom: -650px;
				height: 1000px;
				margin-left: 0;
			}
		}
	}

	.standard {
		&:first-child {
			justify-content: center;
			margin-top: -50px;
			margin-bottom: 300px;

			.content {
				width: 350px;
			}

			img {
				margin-left: 50px;
			}
		}
	}
}

@media(min-width: 70em) {
	.header {
		.background {
			svg {
				bottom: -670px;
				height: 1000px;
			}
		}
	}

	.standard {
		&:first-child {
			align-items: flex-start;
			margin-bottom: 250px;

			h2 {
				margin-top: 50px;
			}

			img {
				width: 500px;
				height: 500px;
			}
		}
	}
}
