address {
	margin: 20px 0;
	font-family: var.$font_headings;
	font-style: normal;
	font-weight: 600;
	line-height: 1.8em;

	span {
		text-transform: uppercase;
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	svg {
		height: 1em;
		margin-right: 1ch;
	}
}
