address {
	margin: 20px 0;
	font-family: var.$font_headings;
	font-style: normal;
	font-weight: 600;
	line-height: 1.8em;

	span {
		text-transform: uppercase;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	svg {
		margin-right: 2ch;
		font-size: 1em;
	}
}
