.services {
	text-align: center;

	h3 {
		margin: 0;
		color: var.$blue;
		text-transform: uppercase;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.service {
	position: relative;
	max-width: 300px;
	margin: 25px auto;
	padding: 20px;
	border: 3px solid var.$grey;
	text-align: left;

	&:hover {
		border-color: var.$yellow;

		img {
			border-color: var.$yellow;
		}
	}

	img {
		max-width: calc(100% + 40px);
		margin: -20px -20px 20px;
	}

	.sub {
		margin: 10px 0;
		color: var.$navy;
		font-family: var.$font_headings;
		font-size: 0.7em;
		font-weight: 600;
		text-transform: uppercase;
	}

	.block_link {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		&:focus {
			outline: none;

			&:before {
				outline: 3px solid var.$yellow;
			}
		}
	}
}

@media(min-width: 40em) {
	.service {
		position: relative;
		max-width: 800px;
		padding-right: 270px;
		overflow: hidden;

		h3, h2 {
			font-size: 1.1em;
		}

		img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 250px;
			height: calc(100% + 40px);
			border-left: 3px solid var.$grey;
			object-fit: cover;
			object-position: center;
		}

		&:nth-child(2n) {
			padding-right: 20px;
			padding-left: 270px;

			img {
				right: auto;
				left: 0;
				border-right: 3px solid var.$grey;
				border-left: 0;
			}

			&:hover {
				img {
					border-color: var.$yellow;
				}
			}
		}
	}
}

@media(min-width: 50em) {
	.service {
		padding: 50px;
		padding-right: 350px;
		border-width: 5px;

		h3, h2 {
			font-size: 1.2em;
		}

		img {
			width: 300px;
			border-width: 5px;
		}

		&:nth-child(2n) {
			padding-right: 50px;
			padding-left: 350px;

			img {
				border-width: 5px;
			}
		}
	}
}
