.team {
	max-width: 800px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.profile {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	margin: 0 auto;
	padding: 20px 0;

	img {
		order: -1;
		max-width: 250px;
		margin: 0 auto 20px;
	}

	h3 {
		margin: 5px 0 10px;
		color: var.$blue;
		font-weight: 700;
		text-transform: uppercase;

		a {
			display: flex;
			align-items: center;

			&:hover {
				svg {
					color: var.$white;

					.cls-p {
						color: var.$blue;
					}
				}
			}
		}

		svg {
			height: 1.2em;
			margin-right: 0.5ch;

			.cls-p {
				color: var.$white;
			}
		}
	}

	.role {
		margin: 5px 0;
		color: var.$navy;
		font-family: var.$font_headings;
		font-size: 0.8em;
		font-weight: 600;
		text-transform: uppercase;
	}

	.bio {
		@include mixins.child_reset;
	}

	.liquid {
		margin: 10px 0 0 10px;

		dt {
			color: var.$blue;
			font-family: var.$font_headings;
			font-size: 0.8em;
			font-weight: 600;
			text-transform: uppercase;
		}

		svg {
			flex-shrink: 0;
			height: 2em;
			margin-right: 2ch;
		}

		dd {
			display: flex;
			align-items: center;
			margin-left: 0;
		}
	}
}

@media(min-width: 35em) {
	.profile {
		display: block;
		max-width: unset;
		margin: 20px 0;
		padding: 20px;
		clear: both;
		overflow: hidden;
		border: 3px solid var.$grey;
		border-radius: 20px;

		img {
			margin-left: 20px;
			float: right;
		}

		&:nth-child(2n) {
			img {
				margin-right: 20px;
				margin-left: 0;
				float: left;
			}

			// dl {
			// 	margin-right: 10px;
			// 	margin-left: auto;
			// 	text-align: right;
			// }

			// dd {
			// 	justify-content: flex-end;
			// 	margin-right: 20px;
			// }
		}
	}
}

@media(min-width: 60em) {
	.profile {
		padding: 50px;
	}
}
