@font-face {
	font-family: 'Spartan';
	font-style: normal;
	font-weight: 400;
	src: url('./src/fonts/Spartan-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Spartan';
	font-style: normal;
	font-weight: 500;
	src: url('./src/fonts/Spartan-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Spartan';
	font-style: normal;
	font-weight: 600;
	src: url('./src/fonts/Spartan-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Spartan';
	font-style: normal;
	font-weight: 700;
	src: url('./src/fonts/Spartan-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Spartan';
	font-style: normal;
	src: url('./src/fonts/Spartan-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: url('./src/fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	src: url('./src/fonts/Raleway-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	src: url('./src/fonts/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: url('./src/fonts/Raleway-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	src: url('./src/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-style: italic;
	font-weight: 400;
	src: url('./src/fonts/Raleway-RegularItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-style: italic;
	font-weight: 500;
	src: url('./src/fonts/Raleway-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-style: italic;
	font-weight: 600;
	src: url('./src/fonts/Raleway-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-style: italic;
	font-weight: 700;
	src: url('./src/fonts/Raleway-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-style: italic;
	src: url('./src/fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}
