$black: #000000;
$grey: #a5abbd;
$white: #ffffff;

$neutral: $black;

$blue: #3b62a1;
$navy: #414656;
$yellow: #fffc01;
$yellow_light: #e0e07c;

$font_headings: 'Spartan', sans-serif;
$font_main: 'Raleway', serif;
