/* Custom Editor Styles */
@use './variables.scss' as var;
@use './mixins.scss';

@import './global/fonts.scss';
@import './global/typography.scss';
@import './global/forms.scss';

@import './blocks/index.scss';

.block-editor-writing-flow {
	color: #000000;
	font-family: var.$font_main;
	font-size: 18px;
	line-height: 1.5;

	.editor-post-title {
		.editor-post-title__input {
			font-family: var.$font_headings;
			font-size: 3.22em;
			font-weight: 400;
			line-height: 1.2;
			text-transform: uppercase;
		}
	}

	a {
		color: var.$blue;
		font-family: var.$font_headings;
		font-size: 0.67em;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			text-decoration: underline;
		}

		&.cta {
			color: var.$white;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.logos {
		color: var.$neutral;

		h2 {
			color: var.$blue;
		}
	}

	.categories {
		li {
			background: var.$black;
		}
	}

	.wp-block {
		&[data-type='acf/logos-block'], &[data-type='acf/services-block'], &[data-type='acf/block-standard'] {
			.acf-editor-wrap {
				iframe {
					min-height: unset;
					max-height: 150px;
				}
			}
		}
	}

	.testimonial {
		.testimonials {
			color: var.$neutral;
		}
	}

	.button-primary {
		padding: 5px 10px;
		background: var.$blue;
		color: var.$white;
	}
}
